/* *,
::before,
::after {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
} */

html {
    --var-bg-color: #B5A4A3;
    --var-primary-color: #E9E6E2;
    --var-secondary-color: #535E4B;
    --var-text-color: #C1C2AD;
    --var-text-color-dark: #91927B;
    --var-bg-light: #876563;
    --var-bg-dark: #EEEDED;
    --var-success: #363D31;
}
